@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

span.rsjv-expander {
  color: #888;
}

span.rsjv-expander:hover {
  cursor: pointer;
}

span.rsjv-value {
  color: #3d94bf;
  overflow-wrap: anywhere;
}

.json-viewer {
  max-height: 50em;
  overflow-y: auto;
}

.json-viewer ul {
  padding-left: 1em;
}