{{define "slot"}}
    <h1>Discord</h1>
    <ul class="list-group">
        {{ range .Params.Channels }}
{{/*            <li class="list-group-item">*/}}
{{/*                <p>*/}}
{{/*                    {{if ne .Item nil}}*/}}
{{/*                        <span class="badge rounded-pill text-bg-info">{{.Item.Score}}</span>*/}}
{{/*                        <a href="{{.HNStory.URL}}">*/}}
{{/*                            {{.Item.Title}}*/}}
{{/*                        </a>*/}}
{{/*                    {{else}}*/}}
{{/*                        <a href="{{.HNStory.URL}}">*/}}
{{/*                            {{.HNStory.URL}}*/}}
{{/*                        </a>*/}}
{{/*                    {{end}}*/}}
{{/*                </p>*/}}
{{/*                <p>*/}}
{{/*                    {{ range .Categories }}*/}}
{{/*                        <span class="badge rounded-pill text-bg-secondary">{{ . }}</span>*/}}
{{/*                    {{end}}*/}}
{{/*                </p>*/}}
{{/*                <p>{{ .Summary }}</p>*/}}
{{/*            </li>*/}}
        {{end}}
    </ul>
{{end}}
