{{define "content"}}
    {{range .Params.Results.StoredContent }}
        <p>[{{ .Content.Type }}] [{{ .Content.CreatedAt | date "2006-01-02 01:02" }}] -
        {{if eq .Content.Type 0}}
            {{ printf "%.200s..." .Content.Data}}
        {{else if eq .Content.Type 1}}
            audio data
        {{else if eq .Content.Type 2}}
            <a href="{{ printf "%s" .Content.Data}}">{{ printf "%s" .Content.Data}}</a>
        {{end}}
        </p>
        {{ block "normalcontent" .Normalized}}{{end}}
        <hr />
    {{end}}
{{end}}
