{{define "normalcontent"}}
    <style>
        .content {
            font-size: 1rem;
            white-space: normal;
        }

        .transformer-details {
            margin: 1rem;
        }
    </style>
    <div class="wrapper">
        {{ range $i, $v := .}}
            <details>
                <summary>{{ $v.NormalizerID }}</summary>
                <span>
                    {{ range $j, $w := $v.Transformed }}
                        <details class="transformer-details">
                            <summary>{{ $w.TransformerID }}</summary>
                            <div class="content">
                                {{ printf "%s" $w.Data | html }}
                            </div>
                        </details>
                    {{end}}
                    <div class="content">
                        {{ printf "%s" $v.Data | html }}
                    </div>
                </span>
            </details>
        {{end}}
    </div>
{{end}}
