{{define "slot"}}
<h1>Save Data</h1>
<form id="data-form" action="/save" method="POST" enctype="multipart/form-data">
    <div id="text-input">
        <label for="text">Text:</label>
        <input type="text" id="text" name="text">
    </div>
    <div id="audio-input">
        <label for="file">File:</label>
        <input type="file" id="file" name="file">
    </div>
    <div>
        <label for="crawl-urls">Crawl URLs:</label>
        <input type="checkbox" id="crawl-urls" name="crawl-urls">
    </div>
    <button type="submit">Save</button>
</form>
    {{ if .Params.ContentIDs }}
        <h1>Content</h1>
        <ul>
            {{ range .Params.ContentIDs }}
                <li><a href="/view/{{ . }}">{{ . }}</a></li>
            {{ end }}
        </ul>
    {{ end }}
{{end}}
